<!DOCTYPE html>
<html>
  <head>
    <title>Christies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav id="navbar" class="navbar-fixed-top">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="/auctions">All Auctions</a></li>
          <!-- <li><a href="#">My Bids</a></li> -->
          <% if user_signed_in? %>
            <li> <%= link_to 'My Bids', auction_bids_path(current_user.id) %></li>
            <li> <%= link_to "Watched Auctions", auction_watches_path(current_user.id) %></li>
          <% end %>
          <li> <%= link_to 'New Auction', new_auction_path %></li>
          <% if user_signed_in? %>
            <li id="hello"> Hello <%= link_to current_user.first_name %> ! </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li> <%= link_to 'Log out', sessions_path, method: :delete %></li>
          <% end %>
          <% if !user_signed_in? %>
            <li> <%= link_to 'Log in', new_session_path %> </li>
              |
            <li> <%= link_to 'Sign Up', new_user_path %> </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <br><br><br>

    <% if flash[:notice] %>
      <div class='alert alert-success'><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class='alert alert-danger'><%= flash[:alert] %></div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
